<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.volunteerrise">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VolunteerRise"
        tools:targetApi="31">
        <activity
            android:name=".VideoTutorial"
            android:exported="false" />
        <activity
            android:name=".Verification"
            android:exported="false" />
        <activity
            android:name=".Event1_certificate"
            android:exported="false" />
        <activity
            android:name=".AdminMainActivity"
            android:exported="false" />
        <activity
            android:name=".AdminLogin"
            android:exported="false" />
        <activity
            android:name=".Certificate"
            android:exported="false" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAt9nMsgyLFEHszaPhdtqjrV3eoGx1s1fY" />

        <activity
            android:name=".Event1"
            android:exported="false"
            android:label="@string/title_activity_event1" />
        <activity
            android:name=".Profile"
            android:exported="false" />
        <activity
            android:name=".Signup2"
            android:exported="false" />
        <activity
            android:name=".Login2"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".Signup"
            android:exported="false" /> <!-- Remove or correct the following line -->
        <!-- <meta-data android:name="com.google.android.actions" android:background="@drawable/event_block_background" /> -->
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".Events"
            android:exported="true" />
        <activity
            android:name=".NSSunits"
            android:exported="true" />
        <activity
            android:name=".AboutUs"
            android:exported="true" />
        <activity
            android:name=".Gallery"
            android:exported="true" />
        <activity
            android:name=".AboutDevelopers"
            android:exported="true" />
        <activity
            android:name=".Feedback"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>